.menu {
    background-color: #252936;
    width: 100%;
    height: 50px;
    top: 0;
    position: fixed;
    margin: 0;
    z-index: 1;
    min-width: 1000px;
    text-align: center;
}

.navbar{
    list-style-type: none;
    margin-top: 0;

}

.menu ul li  {
    display: inline-block;
    margin-left: -4px;
}

.menu ul {
    padding-inline-start: 0;

}

.navbar a {
    text-decoration: none;
    color:white;
    font-family: "Veranda", sans-serif ;
    font-size: 16px;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    transition : 0.4s;
    font-weight: 700;/*толщина шрифта*/
    text-transform: uppercase;
}

.navbar a:hover {
    background-color:#0085ff;
    transition: 0.2s;
    color: white;
}


.active {
    border-bottom: 2px solid#0085ff;
}
