<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/style/pageComponents.css}" href="/style/pageComponents.css" type="text/css"/>
  <link rel="stylesheet" th:href="@{/style/footer.css}" href="/style/footer.css" type="text/css"/>
  <link rel="stylesheet" th:href="@{/style/menu.css}" href="/style/menu.css" type="text/css"/>
  <meta charset="utf-8">

  <title>BSUIR</title>
</head>

<body>
<div class="page">

  <nav class="menu">
    <ul class="navbar">
      <li>
        <a class="active" href="/BSUIRApp/" th:text="#{menu.myschedule.title}"></a>
      </li>
      <li>
        <a href="#" th:text="#{menu.exams.title}"></a>
      </li>
      <li>
        <a href="#" th:text="#{menu.employeeschedule.title}"></a>
      </li>
      <li>
        <a href="/faculties/" th:text="#{menu.faculties.title}"></a>
      </li>
      <li>
        <a href="#" th:text="#{menu.personalarea.title}"></a>
      </li>
    </ul>

  </nav>

  <div class="temp">
    <h2>Расписание для преподавателя</h2>
    <div class="block" align="center">
      <table>
        <tr>
          <td>
            <h3 th:text="${employee.getLastName() + ' ' + employee.getFirstName() + ' ' + employee.getMiddleName()}"></h3>
          </td>
        </tr>
        <tr>
          <td>
            <img src="#"
                 th:src="${employee.photoLink}"
                 class="extendedBlockImage">
          </td>
          <td>
            <div class="text">
              <th:block th:text="#{info.degree.title}"></th:block>
              <th:block th:text="${employee.degree}"></th:block>
            </div>
            <div class="text">
              <th:block th:text="#{info.rank.title}"></th:block>
              <th:block th:if="${employee.rank != null}" th:text="${employee.rank}"></th:block>
            </div>
          </td>
        </tr>
      </table>


    </div>
  </div>

  <div class="tape">

    <div class="blockContainer" th:each="schedule:${schedules}">

      <h2 th:text="${schedule.weekDay}"></h2>
      <div class="block" align="center" th:each="lesson:${schedule.schedule}" th:style="${lesson.lessonType.equals('ЛК') ? 'border-color:#03fc62' : (lesson.lessonType.equals('ПЗ') ? 'border-color:#f8fc03' : 'border-color:#fc0362')}">
        <table>
          <tr>
            <td>
              <h2 th:text="${lesson.subject}" style="margin-bottom: 0; margin-top: 0; display: inline-block"></h2>
              <h2 th:text="'(' + ${lesson.lessonType} + ')'" style="margin-bottom: 0; margin-top: 0; display: inline-block"></h2>
            </td>
            <td style="text-align: right">
              <h2 th:text="${lesson.startLessonTime}" style="margin-bottom: 0; margin-top: 0"></h2>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text">
                <th:block  th:if="${not lesson.auditory.isEmpty()}"
                           th:utext="${lesson.auditory.get(0)}"/>
              </div>
            </td>
            <td style="text-align: right">
              <div th:text="${lesson.endLessonTime}" class="text"></div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="text">
                <th:block th:text="'гр: ' + ${lesson.getStudentGroup().get(0)}"></th:block>
              </div>
            </td>
            <td style="text-align: right">
              <div class="text">
                <th:block th:if="${lesson.numSubgroup != 0}" th:text="'подгр: ' + ${lesson.numSubgroup}"></th:block><br>
                <th:block th:if="${lesson.getStringRepresentOfWeekNumbers() != ''}" th:text="'нед: ' + ${lesson.getStringRepresentOfWeekNumbers()}"></th:block>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


  <div ></div>

  <footer class="footer">

    <div class="footerLogo">
      <img width="50px" src="images/1.png">
    </div>

    <div class="footerBlock">
      <h3 th:text="#{contactinfo.socialnetworks.title}"></h3>
      <ul class="footerList" >
        <li>
          <a href="#" class="footerLink" ><img src="images/instagram.png" width="15px" th:text="#{contactinfo.instagram.title}"></a>
        </li>
        <li>
          <a href="#" class="footerLink" ><img src="images/vk.png" width="15px" th:text="#{contactinfo.vk.title}"></a>
        </li>
        <li>
          <a href="#" class="footerLink" ><img src="images/telegram.png" width="15px" th:text="#{contactinfo.telegram.title}"></a>
        </li>
      </ul>
    </div>
    <div class="footerBlock">
      <h3 th:text="#{contactinfo.contacts.title}"></h3>
      <ul class="footerList" >
        <li th:text="#{contactinfo.phonenumber}"></li>
        <li th:text="#{contactinfo.address}"></li>
        <li th:text="#{contactinfo.email}"></li>
      </ul>
    </div>
    <div class="footerBlock">
      <h3 th:text="#{contactinfo.friends&partners}"></h3>
    </div>
    <div class="authorInfo">
      <h3 th:text="#{contactinfo.authorinfo}"></h3>
    </div>
  </footer>

</div>

</body>
</html>