<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/style/pageComponents.css}" href="/style/pageComponents.css" type="text/css"/>
	<link rel="stylesheet" th:href="@{/style/footer.css}" href="/style/footer.css" type="text/css"/>
	<link rel="stylesheet" th:href="@{/style/menu.css}" href="/style/menu.css" type="text/css"/>
	<meta charset="utf-8">	

	<title>BSUIR</title>

</head>

<body>
	<div class="page">
		<nav class="menu">
				<ul class="navbar">
					<li>
						<a class="active" href="/BSUIRApp/" th:text="#{menu.myschedule.title}"></a>
					</li>
					<li>
						<a href="#" th:text="#{menu.exams.title}"></a>
					</li>
					<li>
						<a href="/employees/" th:text="#{menu.employeeschedule.title}"></a>
					</li>
					<li>
						<a href="/faculties/" th:text="#{menu.faculties.title}"></a>
					</li>
					<li>
						<a href="#" th:text="#{menu.personalarea.title}"></a>
					</li>
				</ul>
		</nav>

		<div class="temp">
			<h2 th:text="#{info.title.addtofavorites}"></h2>
			<div class="block" align="center">
				<form action="/BSUIRApp/addgroup/" method="post">
					<table>
						<tr>
							<td>
								<input style="width: 150px"
									   class="textField"
									   name="groupNumber"
									   type="text"/>
							</td>
							<td>
								<input class="button"
									   style="width: 150px"
									   type="submit"
									   value="Добавить группу">
							</td>
						</tr>
					</table>
				</form>
			</div>

			<div class="errorMessage" th:text="${error}"></div><br>

			<h2 th:text="#{info.title.favorites}"></h2>
			<div class="block" align="center">
				<form>
					<select class="button" name="groupNumber" style="width: 100%; margin-bottom: 15px">
						<option class="textField"
								th:each="selectedGroup: ${selectedGroups}"
								th:text="${selectedGroup.groupNumber}"
								th:if="${group} != null and  ${group.groupNumber} != ${selectedGroup.groupNumber}">
						</option>
						<option class="textField"
								th:if="${group} != null"
								th:text="${group.groupNumber}"
								selected>
						</option>
						<option class="textField"
								th:if="${group} == null"
								th:each="selectedGroup: ${selectedGroups}"
								th:text="${selectedGroup.groupNumber}">
						</option>
					</select>

					<input formaction="/BSUIRApp/fullSchedule"
						   formmethod="post"
						   class="button"
						   type="submit"
						   value="Показать полное расписание" style="width: 100%; margin-bottom: 5px;">
					<input formaction="/BSUIRApp/scheduleByWeek"
						   formmethod="post"
						   class="button"
						   type="submit"
						   value="Показать текущее расписание" style="width: 100%; margin-bottom: 5px">

					<input formaction="/BSUIRApp/deletegroup/"
						   formmethod="post"
						   class="button"
						   type="submit"
						   value="Удалить группу" style="width: 100%; margin-bottom: 5px">
				</form>
			</div>
   		</div>

		<div class="tape">
			<div class="blockContainer">
				<div th:if="${group != null}">
					<h2 th:text="'Расписание группы ' + ${group.groupNumber}"></h2>
					<h4 th:text=" '('+${group.faculty.abbrev}+') ' + ${group.faculty.name.substring(0,1).toUpperCase() + group.faculty.name.substring(1) }"></h4>
					<h4 th:text=" '('+${group.specialty.abbrev}+') ' + ${group.specialty.name}"></h4>
					<h4 th:text="'Текущая неделя: ' + ${currentWeek}"></h4>
				</div>
				<div th:if="${group == null}">
					<h1 style="margin-bottom: 50%">Выберите группу!</h1>
				</div>
			</div>
			<div class="blockContainer" th:if="not ${isFull}" th:each="schedule:${schedules}">
				<h2 th:text="${schedule.weekDay}"></h2>
				<div class="block" align="center" th:each="lesson:${schedule.schedule}" th:if="${lesson.weekNumber.contains(currentWeek)}" th:style="${lesson.lessonType.equals('ЛК') ? 'border-color:#03fc62' : (lesson.lessonType.equals('ПЗ') ? 'border-color:#f8fc03' : 'border-color:#fc0362')}">
					<table>
						<tr>
							<td>
								<h2 th:text="${lesson.subject}" style="margin-bottom: 0; margin-top: 0; display: inline-block"></h2>
								<h2 th:text="'(' + ${lesson.lessonType} + ')'" style="margin-bottom: 0; margin-top: 0; display: inline-block"></h2>
							</td>
							<td style="text-align: right">
								<h2 th:text="${lesson.startLessonTime}" style="margin-bottom: 0; margin-top: 0"></h2>
							</td>
						</tr>
						<tr>
							<td>
								<div class="text">
									<th:block  th:if="${not lesson.auditory.isEmpty()}"
											   th:utext="${lesson.auditory.get(0)}"/>
								</div>
							</td>
							<td style="text-align: right">
								<div th:text="${lesson.endLessonTime}" class="text"></div>
							</td>
						</tr>
						<tr>
							<td>
								<img src="#"
									 th:if="${not lesson.employee.isEmpty()}"
									 th:src="${lesson.employee.get(0).photoLink}"
									 class="blockImage" >
								<form method="post" action="/employees/teacher/">
									<p class="text">
										<input type="hidden" th:name="id" th:if="${not lesson.employee.isEmpty()}" th:value="${lesson.employee.get(0).id}">
										<input class="button" type="submit" th:if="${not lesson.employee.isEmpty()}"
											   th:value="${lesson.employee.get(0).fullName}">
									</p>
								</form>
							</td>
							<td style="text-align: right">
								<div class="text">
									<th:block th:if="${lesson.numSubgroup != 0}" th:text="'подгр: ' + ${lesson.numSubgroup}"></th:block><br>
									<th:block th:if="${lesson.getStringRepresentOfWeekNumbers() != ''}" th:text="'нед: ' + ${lesson.getStringRepresentOfWeekNumbers()}"></th:block>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="blockContainer" th:if="${isFull}" th:each="schedule:${schedules}">
				<h2 th:text="${schedule.weekDay}"></h2>
				<div class="block" align="center" th:each="lesson:${schedule.schedule}" th:style="${lesson.lessonType.equals('ЛК') ? 'border-color:#03fc62' : (lesson.lessonType.equals('ПЗ') ? 'border-color:#f8fc03' : 'border-color:#fc0362')}">
					<table>
						<tr>
							<td>
								<h2 th:text="${lesson.subject}" style="margin-bottom: 0; margin-top: 0; display: inline-block"></h2>
								<h2 th:text="'(' + ${lesson.lessonType} + ')'" style="margin-bottom: 0; margin-top: 0; display: inline-block"></h2>
							</td>
							<td style="text-align: right">
								<h2 th:text="${lesson.startLessonTime}" style="margin-bottom: 0; margin-top: 0"></h2>
							</td>
						</tr>
						<tr>
							<td>
								<div class="text">
									<th:block  th:if="${not lesson.auditory.isEmpty()}"
											   th:utext="${lesson.auditory.get(0)}"/>
								</div>
							</td>
							<td style="text-align: right">
								<div th:text="${lesson.endLessonTime}" class="text"></div>
							</td>
						</tr>
						<tr>
							<td>
								<img src="#"
									 th:if="${not lesson.employee.isEmpty()}"
									 th:src="${lesson.employee.get(0).photoLink}"
									 class="blockImage" >
								<form method="post" action="/employees/teacher/">
									<p class="text">
										<input type="hidden" th:name="id" th:if="${not lesson.employee.isEmpty()}" th:value="${lesson.employee.get(0).id}">
										<input class="button" type="submit" th:if="${not lesson.employee.isEmpty()}"
											   th:value="${lesson.employee.get(0).fullName}">
									</p>
								</form>
							</td>
							<td style="text-align: right">
								<div class="text">
									<th:block th:if="${lesson.numSubgroup != 0}" th:text="'подгр: ' + ${lesson.numSubgroup}"></th:block><br>
									<th:block th:if="${lesson.getStringRepresentOfWeekNumbers() != ''}" th:text="'нед: ' + ${lesson.getStringRepresentOfWeekNumbers()}"></th:block>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
	</div>



		<footer class="footer">

			<div class="footerLogo">
				<img width="50px" src="images/1.png">
			</div>

			<div class="footerBlock">
				<h3 th:text="#{contactinfo.socialnetworks.title}"></h3>
				<ul class="footerList" >
					<li>
						<a href="#" class="footerLink" ><img src="images/instagram.png" width="15px" th:text="#{contactinfo.instagram.title}"></a>
					</li>
					<li>
						<a href="#" class="footerLink" ><img src="images/vk.png" width="15px" th:text="#{contactinfo.vk.title}"></a>
					</li>
					<li>
						<a href="#" class="footerLink" ><img src="images/telegram.png" width="15px" th:text="#{contactinfo.telegram.title}"></a>
					</li>
				</ul>
			</div>
			<div class="footerBlock">
				<h3 th:text="#{contactinfo.contacts.title}"></h3>
				<ul class="footerList" >
					<li th:text="#{contactinfo.phonenumber}"></li>
					<li th:text="#{contactinfo.address}"></li>
					<li th:text="#{contactinfo.email}"></li>
				</ul>
			</div>
			<div class="footerBlock">
				<h3 th:text="#{contactinfo.friends&partners}"></h3>
			</div>
			<div class="authorInfo">
				<h3 th:text="#{contactinfo.authorinfo}"></h3>
			</div>
		</footer>
   </div>
</body>
</html>