<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/style/pageComponents.css}" href="/style/pageComponents.css" type="text/css"/>
	<link rel="stylesheet" th:href="@{/style/footer.css}" href="/style/footer.css" type="text/css"/>
	<link rel="stylesheet" th:href="@{/style/menu.css}" href="/style/menu.css" type="text/css"/>
	<meta charset="utf-8">	

	<title>BSUIR</title>
</head>

<body>
	<div class="page">

		<nav class="menu">
				<ul class="navbar">
					<li>
						<a class="active" href="/BSUIRApp/" th:text="#{menu.myschedule.title}"></a>
					</li>
					<li>
						<a href="#" th:text="#{menu.exams.title}"></a>
					</li>
					<li>
						<a href="#" th:text="#{menu.employeeschedule.title}"></a>
					</li>
					<li>
						<a href="#" th:text="#{menu.personalarea.title}"></a>
					</li>
				</ul>

		</nav>

		<div class="tape">

			<div class="blockContainer">
				<div class="block" align="center">
					<form action="/BSUIRApp/" method="post">
						<input class="textField" name="groupNumber" type="text"/>
						<br>
						<input class="button" type="submit" value="Get">
					</form>
					<th:block th:text="${error}"></th:block>
				</div>
			</div>

			<div class="blockContainer" th:each="schedule:${schedules}">
				<h2 th:text="${schedule.weekDay}"></h2>
					<div class="block" th:each="lesson:${schedule.schedule}" th:style="${lesson.lessonType.equals('ЛК') ? 'border-color:green' : (lesson.lessonType.equals('ПЗ') ? 'border-color:yellow' : 'border-color:red')}">
						<h3 th:text="${lesson.subject}"></h3>

						<img src="#"
							 th:if="${not lesson.employee.isEmpty()}"
							 th:src="${lesson.employee.get(0).photoLink}"
							 class="blockImage" >

						<p class="text">
							<th:block th:text="#{info.employee.title}"/>
							<a class="textLink" href="#">
								<th:block  th:if="${not lesson.employee.isEmpty()}"
										   th:utext="${lesson.employee.get(0).fio}"/>
							</a>

						</p>

						<p class="text">
							<th:block th:text="#{info.auditory.title}"/>
							<th:block  th:if="${not lesson.auditory.isEmpty()}"
									   th:utext="${lesson.auditory.get(0)}"/>
						</p>

						<p class="text">
							<th:block th:text="#{info.time.title}"/>
							<th:block th:utext="${lesson.lessonTime}"/>
						</p>

						<p class="text">
							<th:block th:text="#{info.week.title}"/>
							<th:block th:utext="${lesson.getStringRepresentOfWeekNumbers()}"/>
						</p>
					</div>
			</div>
		</div>


		<footer class="footer">

			<div class="footerLogo">
				<img width="50px" src="images/1.png">
			</div>

			<div class="footerBlock">
				<h3 th:text="#{contactinfo.socialnetworks.title}"></h3>
				<ul class="footerList" >
					<li>
						<a href="#" class="footerLink" ><img src="images/instagram.png" width="15px" th:text="#{contactinfo.instagram.title}"></a>
					</li>
					<li>
						<a href="#" class="footerLink" ><img src="images/vk.png" width="15px" th:text="#{contactinfo.vk.title}"></a>
					</li>
					<li>
						<a href="#" class="footerLink" ><img src="images/telegram.png" width="15px" th:text="#{contactinfo.telegram.title}"></a>
					</li>
				</ul>
			</div>
			<div class="footerBlock">
				<h3 th:text="#{contactinfo.contacts.title}"></h3>
				<ul class="footerList" >
					<li th:text="#{contactinfo.phonenumber}"></li>
					<li th:text="#{contactinfo.address}"></li>
					<li th:text="#{contactinfo.email}"></li>
				</ul>
			</div>
			<div class="footerBlock">
				<h3 th:text="#{contactinfo.friends&partners}"></h3>
			</div>
			<div class="authorInfo">
				<h3 th:text="#{contactinfo.authorinfo}"></h3>
			</div>
		</footer>

   </div>

</body>
</html>